world/
versions/
logs/
libraries/
cache/

# Server Specific
.console_history

# Plugin Specific
plugins/AsyncWorldEdit/plugins
plugins/AsyncWorldEdit/undo

usercache.json
server.properties

# plugins/WorldEdit/.archive-unpack/
plugins/FastAsyncWorldEdit/sessions
plugins/FastAsyncWorldEdit/lang
plugins/FastAsyncWorldEdit/clipboard
plugins/FastAsyncWorldEdit/history

# Parkour
plugins/Parkour/other/
plugins/Parkour/players/
plugins/Parkour/sessions/
plugins/Parkour/Parkour.log

# Hide sensitive information from craft-integration plugin
plugins/craft-integration/config.yml

# NPCs
plugins/Citizens/lib/

# Spark
plugins/spark/tmp/

plugins/LuckPerms/libs
plugins/LuckPerms/translations
# May have to ignore the db as well? Unsure of size as we scale. Will move to MongoDB / Postgres in the future.
# plugins/LuckPerms/luckperms-h2-v2.mv.db

